<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header>
        <nav>
            <div class="logo">Portfolio</div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#projetos">Projects</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero" id="home">
        <div class="glass-card">
            <img src="/assets/fotodeperfil.png" alt="Profile Picture" class="profile-pic" id="profile-pic">
            <h1>Bem-Vindo ao Meu Portifólio Online!</h1>
            <span class="highlight">Desenvolvedor Full-stack | Designer | Gestor de Tráfego</span>
            <a href="#projects" class="cta-button">Veja meus trabalhos</a>
        </div>
    </section>

    <section class="projects" id="projects">
        <div class="container">
            <h2>Projetos Desenvolvidos</h2>
            <div class="projects-grid">
                <div class="project-card">
                    <a href="/views/DesignPlace.html">
                        <img src="/assets/designplace.png" alt="Projetos de Design">
                        <div class="project-info">
                            <h3>Design</h3>
                            <p>Todos Projetos de Design aqui!</p>
                        </div>
                    </a>
                </div>
                <div class="project-card">
                    <a href="/views/DesenvolvimentoPlace.html">
                        <img src="/assets/developingplace.png" alt="Meus Projetos como Desenvolvedor">
                        <div class="project-info">
                            <h3>Desenvolvimento Web</h3>
                            <p>Todos Projetos de Desenvolvimento Web aqui!</p>
                        </div>
                    </a>
                </div>
                <div class="project-card">
                    <a href="/views/MarketingPlace.html">
                        <img src="/assets/marketingplace.png " alt="Trabalhos Executados como Gestor de Tráfego">
                        <div class="project-info">
                            <h3>Marketing e Trafégo</h3>
                            <p>Todos Projetos de Marketing e Trafégo aqui!</p>
                        </div>
                    </a>
                </div>
        </div>
    </section>

    <footer id="contact">
        <p>&copy; 2026 Meu Portifólio. Creditos: João Soares | github/devjoaosoares.</p>
        <a href="https://github.com/devjoaosoares/MeuPortifolioWeb.git">Source Code</a> <a href="https://www.linkedin.com/in/jo%C3%A3o-vitor-alves-soares-190012283/">LinkedIn</a> <a href="https://github.com/devjoaosoares">GitHub</a>
    </footer>

    <script src="script.js"></script>
</body>
</html>